* {
    box-sizing: border-box;
    margin: 0;   

}

body {
    font-family: "Roboto", sans-serif;
}

.nav-container {
    background: #FFFFFF;
    box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
    height: 100px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

.nav-items li,
.nav-items-2 li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li a,
.nav-items-2 li a {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.nav-items-2 li button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 16px;

    width: 157px;
    height: 54px;

    background: #DA3743;
    border-radius: 30px;

    flex: none;
    order: 3;
    flex-grow: 0;
}


.nav-items li a:hover,
.nav-items-2 li a:hover {
    color: orange;
}

.header-container {
    padding-bottom: 5em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 112%;
    margin-bottom: 24px;
    color: #1A1A1A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

header p {
    width: 390px;
    height: 55px;
    font-size: 18px;
    line-height: 145%;
    color: #13254A;
    margin-bottom: 48px;
    mix-blend-mode: normal;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

header a {
    font-size: 16px;
    color: white;
    text-decoration: none;

    background: #DA3743;
    border-radius: 30px;
    padding: 12px 48px;
}

header a:hover {
    background-color: orange;
}

.rotate {
    animation: rotation 10s infinite linear;
    margin: auto;
}

.hero-image {
    border: 4px solid #DA3743;
    border-radius: 50%;
    height: 587.092041015625px;
    width: 587.092041015625px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* section two */

.current-menu {
     
    padding: 0 156px;
    width: 100%;
}

.current-menu-text {
     
    width: max-content;
    margin: 29px 0 16px 0;
}

.current-menu-filters {
    display: flex;
    height: min-content;
    padding: 0;
    justify-content: space-between;
}

.current-menu-filters-header {
    padding: 0;
    width: 60%;
}

.current-menu-filters-lists {
    width: 40%;
    box-sizing: border-box;
    /* Auto layout */
    align-items: center;
    padding: 4px;
    /* Light / Beerus / 100 */
    border: 2px solid #EBEBEB;
    border-radius: 8px;
}

.current-menu-filters-lists- {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    height: max-content;
}

.current-menu-filters-lists- > li {
    align-items: center;
    padding: 4px 8px;

    border-radius: 8px;
}

.current-menu-filters-lists-All {
    background: #DA3743;
}

.current-menu-foods {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.foods {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 19px;
    box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.08);

    height: min-content;
    margin-bottom: 20px;
    border-radius: 12px;
}

.foodsimg {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.current-menu-foods-content-para {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #999999;
    margin: 5px 0;
}

.current-menu-foods-content-foot {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

.current-menu-foods-content-foot-price {
    font-family: 'Lato';
    font-size: 20px;
    color: #aaa6a6;
}

.current-menu-foods-content-foot-button {

    justify-content: center;
    align-items: center;
    padding: 2px 19px;
    border: none;
    height: 54px;
    background: #fff;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
}

.current-menu-foods-content-foot-button:hover {

    background: orange;
    color: #272222;
}

.current-menu-footer {
    display: flex;
    justify-content: center;
    padding: 53px 102px;
}

.current-menu-footer-button {
    padding: 20px 24px;
    border: none;
    background: #DA3743;
    border-radius: 30px;
}

/* section */

.reviews {
    box-sizing: border-box;
    background: rgba(218, 55, 67, 0.15);
    padding: 5rem;
    
}

.reviews-content{
    display: flex;  
    justify-content: space-between;     
    align-items: center;
    width: 80%;    
    margin: auto;     
}

.reviews-text{  
    
    height: min-content;
    width: 50% ;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;

}

.reviews-text-head {    
    font-family: 'Lato';
    font-weight: 700;
    font-size: 40px;
    color: #363A40;
    margin-bottom: 2rem;    
}

.reviews-text-para {

    
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.004em;
    color: #67758D;
   
}


.review-text-image {         
    box-shadow: 0px 8px 16px -6px; 
    border-radius: 12px;
    height: 80%; 
    width:50%; 
    border: 2px solid;
}

/* Section */
.blog {
     
    padding-left: 158px;
    padding-top: 121px;
}

.blog-text-head {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 37.9px;
    line-height: 120%; 
    text-align: center;
}

.blog-text-para {
    margin-top: 20px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #0A244E;
    opacity: 0.7;
}

.blog-with-pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1rem 4rem 0 0;
    
}

.pics{    
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 2rem;
    padding : 1.2rem; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.blog-with-pictures-design{
    color: red
}

.blog-with-pictures-design > span{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160%;
/* or 19px */

text-align: right;

color: #556480;
margin-left: 15px;


}
.blog-with-pictures-design-info{
    padding: 0;
    margin: 0.5rem 0;
}



.blogimg{
   
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.blog-with-pictures-content{
    display: flex;
    flex-direction: column;
}
.blog-with-pictures-content-head{
  font-size: 1.2em;
}
.blog-with-pictures-content-para{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #999999;
    margin: 1rem 0;
}

.blog-with-pictures-content-read-more{
    font-family: 'Lato';
    font-size: small;
    color: red;
    margin: 0.7rem 0
}

.footer{
    padding-top: 120;
   
}

.footer-top{
    border: 2px solid red;
    display: flex;
    justify-content: end;
}

